* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

#root {
	width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;	
}

.contents {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #222;
	position: relative;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.contents label {
	color: #fff;
}

.contents input {
	
}

.contents button {
	margin: 10px 0px 0px 0px;
	color: #222;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}